@media screen and (min-width: 400px){
    /*header*/

    .title{
        margin-top: 0;
    }
}

@media screen and (min-width: 460px){
    /*header*/
    
    .banner{
        padding-top: 3%;   
    }

    .banner img{
        width: 110px;
        height: 110px;
    }

    h1 a{
        font-size: 45px;
    }
    
    .title p{
        font-size: 16px;
    }
}
@media screen and (min-width: 550px){
    /*header*/
    
    .banner{
        padding-top: 1%;   
    }

    .banner img{
        width: 120px;
        height: 120px;
    }

    h1 a{
        font-size: 50px;
    }
    
    .title p{
        font-size: 18px;
    }

    ul li{
        padding-bottom: 2%;
    }
    .firstmenu{
        padding-top: 10%;
    }
}
@media screen and (min-width: 850px){
    /*header*/

    .banner{
        padding-top: 0;   
    }
    
    .banner img{
        width: 130px;
        height: 130px;
    }

    h1 a{
        font-size: 55px;
    }
    
    .title p{
        font-size: 20px;
    }

}
@media screen and (min-width: 1000px){
    /*header*/
    
    .banner img{
        width: 140px;
        height: 140px;
    }

    h1 a{
        font-size: 60px;
    }
    
    .title p{
        font-size: 22px;
    }
}