

@font-face {
    font-family: 'belligerent_madnessregular';
    src: url('fonts/belligerent-webfont.eot');
    src: url('fonts/belligerent-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/belligerent-webfont.woff2') format('woff2'),
         url('fonts/belligerent-webfont.woff') format('woff'),
         url('fonts/belligerent-webfont.ttf') format('truetype'),
         url('fonts/belligerent-webfont.svg#belligerent_madnessregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Muli';
    src: url('fonts/Muli-Bold.eot');
    src: url('fonts/Muli-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Muli-Bold.woff2') format('woff2'),
        url('fonts/Muli-Bold.woff') format('woff'),
        url('fonts/Muli-Bold.ttf') format('truetype'),
        url('fonts/Muli-Bold.svg#Muli-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muli';
    src: url('fonts/Muli-Light.eot');
    src: url('fonts/Muli-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Muli-Light.woff2') format('woff2'),
        url('fonts/Muli-Light.woff') format('woff'),
        url('fonts/Muli-Light.ttf') format('truetype'),
        url('fonts/Muli-Light.svg#Muli-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

html body{
    margin: 0;
    padding: 0;
}

$back:#F3E9F1;
$font:#290d22;
$back-1:#CFD8DC;
$back-button:#B36E99;

/*All page*/

*{
    font-family: 'Muli';
}

.bloc_page{
    width: 100%;
    height: auto;
    overflow: auto;
}

a{
    text-decoration: none;
    color: $font;
}

/*header*/
header{
    background-color:$back;
}

.banner{
    display: flex;
    height: 110px;
    padding-top: 5%;   
    justify-content: center;
}

.banner img{
    width: 100px;
    height: 100px;
    margin-left: 3%;
}

.title{
    text-align: center;
    margin-right: 3%;
    margin-top: -2%;
}

h1{
    margin-bottom: 0;
}

h1 a{
    font-family:'belligerent_madnessregular', sans-serif ;
    font-size: 40px;
    margin: auto;
}

.title p{
    font-size: 14px;
    font-family: 'belligerent_madnessregular', sans-serif;
    margin-top: 0;
}

header ul{
    list-style: none;
    margin-top: -5%;
    margin-bottom: 0;
    padding-left: 0;
    font-size:16px ;
    
}

ul li{
    padding-bottom: 5%;
}

ul a:hover{
    text-decoration: underline $back-button;
    color: $back-button;
}

nav{
    background: url("images/separateur.png") repeat-x bottom;
}

/*Menu déroulant burger*/

.toggle_btn{
    height: 30px;
    width: 30px;
    position: relative;
    float: right;
    margin-right: 20px;
    margin-top: 8px;
    cursor: pointer;    
}

.toggle_btn span{
    height: 2.5px;
    background-color:$back-button;
    width: 100%;
    position: absolute;
    top: 20px;
    left: 0;
}

.toggle_btn span:before{
    content: '';
    height: 3px;
    background-color: $back-button;
    width: 100%;
    position: absolute;
    top: -10px;
    left: 0;
}
.toggle_btn span:after{
    content: '';
    height: 3px;
    background-color: $back-button;
    width: 100%;
    position: absolute;
    top: 10px;
    left: 0;
}

.menu{
    height: 50px;
    background-color:$back;
    width: 200px;
}

.menu a{
    color: $back-button;
    text-align: center;
    display: block;
    height: auto;  
}

.firstmenu{
    padding-top: 20%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    text-decoration: underline;
    font-family: 'Muli';
}

.nav{
    margin-left: -200px;
    transition-duration: 0.2s;
    background: url("images/separateur.png") repeat-x bottom;
}

.nav_open{
    margin-left: 0;
    transition-duration: 0.2s;
    height: auto;
    width: 100%;
    
}

.nav_cross span{
    background-color: transparent;
}

.nav_cross span:before{
    transform: translateY(10px) rotateZ(45deg);
}
.nav_cross span:after{
    transform: translateY(-9.5px) rotateZ(-45deg);
}

/*section*/

.teddies{
    background-color: $back-1;
    width:280px;
    height: 300px;
    margin: auto;
    box-shadow: 1px 1px 10px 1px #BDBDBD;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 10px;
    
    img{
        height: 160px;
        margin: 8% 4% 7% 7%;
        border-radius: 10px;
    }
}

.teddies h2{
    text-align: center;
    margin-top: 0;
    margin-bottom: 3%;
}

.teddies p{
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: center;
}

.teddies hr{
    width: 80px;
    height: 0.75px;
    background-color: $back-button;
}

/*footer*/

footer{
    
    background: url("images/separateur.png") repeat-x top;
    background-color:$back;

    h2{
        text-align: center;
        margin-bottom: 0;
        padding-top: 5%;
        text-transform: uppercase;
        font-size: 16px;
    }
    
}

footer hr{
    width: 80px;
    height: 0.75px;
    background-color: $back-button;
}

footer ul{
    list-style-type: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 0;
}

footer p{
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 5%;
}

.pay{
    text-align: center;
    padding-bottom: 3%;
}

/*Pages produits*/

button{
    margin-left: 6%;
    border-radius: 5px;
    background-color:$back-button;
    font-size: 15px;
    margin-top: 4%;
    margin-bottom: 0;
    padding: 0.25rem 1rem 0.4rem 1rem;

    a{
        color: $back;
    }
}

.bear{
    background-color: $back-1;
    width:280px;
    height:auto;
    margin: auto;
    box-shadow: 1px 1px 10px 1px #BDBDBD;
    margin-top: 4%;
    margin-bottom: 4%;
    border-radius: 10px;
    padding-bottom: 5%;
    
    img{
        height: 160px;
        margin: 7% 4% 5% 7%;
        border-radius: 10px;

    }
}

.bear h2{
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

hr{
    width: 120px;
    height: 0.75px;
    background-color: $back-button;

}

.bear p{
    text-align: center;
    margin-top: 4%;
    padding-left: 4%;
    padding-right: 4%;
}

.price{
    font-weight: bold;
    font-size: 18px;
}

input[type="button" i]{
    margin: auto;
    display: block;
    border-radius: 5px;
    color: $back;
    background-color:$back-button;
    font-size: 20px;
    margin-top: 8%;
    margin-bottom: 3%;
    padding: 1% 3% 2% 3%;
    
}

select {
    background-color:$back-1;
    font-size: 15px;
    border-radius: 5px;
}

label{
    font-size: 15px;
    font-weight: bold;
}
/*Panier*/
.required{
    color: red;
}

.infos{
    border:1px solid ;
    margin-bottom: 6%;
    padding-top: 2%;
    padding-bottom: 4%;

    p{
    padding-left: 6%;   
    }
}

.adress{
    border:1px solid;
    margin-bottom: 3%;
    padding-top: 2%;
    padding-bottom: 4%;

    p{
    padding-left: 6%;
    }
}

input[type="submit" i]{
    margin: auto;
    display: block;
    border-radius: 5px;
    color: $back;
    background-color:$back-button;
    font-size: 20px;
    margin-top: 0;
    padding: 1% 3% 2% 3%;
    margin-bottom: 3%;
}

.recap{
    padding-left: 6%;
    padding-right: 6%;
    width:auto;
    
    h2{
        text-align: center;
        margin-top: 5%;
        text-transform: uppercase;
        font-size: 18px;
        color: $back-button;
    }
}

.recap h3{
    text-decoration: underline;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
}

.basket{
    border:1px solid ;
    margin-bottom: 6%;
}

.form{
    padding-left: 6%;
    padding-right: 6%;
    width:auto;
    
    h2{
        text-align: center;
        margin-top: 5%;
        text-transform: uppercase;
        font-size: 18px;
        color: $back-button;
    }
}

.form h3{
    text-decoration: underline;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
}


@media screen and (min-width: 400px){
    /*header*/

    .title{
        margin-top: 0;
    }
}

@media screen and (min-width: 460px){
    /*header*/
    
    .banner{
        padding-top: 3%;   
    }

    .banner img{
        width: 110px;
        height: 110px;
    }

    h1 a{
        font-size: 45px;
    }
    
    .title p{
        font-size: 16px;
    }
}
@media screen and (min-width: 550px){
    /*header*/
    
    .banner{
        padding-top: 1%;   
    }

    .banner img{
        width: 120px;
        height: 120px;
    }

    h1 a{
        font-size: 50px;
    }
    
    .title p{
        font-size: 18px;
    }

    ul li{
        padding-bottom: 2%;
    }
    .firstmenu{
        padding-top: 10%;
    }

    /*section*/

    .teddies{
        width:500px;
        height: 200px;
    }

    .teddies img{
        margin: 4%;
    }

    .teddies h2{
        margin-top: -30%;
        margin-left: 55%;
    }

    .teddies hr{
        margin-left: 69.5%;
        margin-bottom: 2%;
    }

    .teddies p{
        margin-left: 55%;
    }

     /*Pages produits*/

     .bear{
         width: 500px;

         img{
             height: 200px;
             margin: 5% 20% 3% 20%;

         }
     }

}
@media screen and (min-width: 850px){
    /*header*/

    .banner{
        padding-top: 0;   
    }
    
    .banner img{
        width: 130px;
        height: 130px;
    }

    h1 a{
        font-size: 55px;
    }
    
    .title p{
        font-size: 20px;
    }

    /*section*/

    .teddies{
        width:600px;
        height: 200px;
    }

    .teddies img{
        margin: 3.5%;
    }

    .teddies h2{
        margin-top: -25%;
        margin-left: 40%;
    }

    .teddies hr{
        margin-top: -1%;
        margin-bottom: 2%;
        margin-left: 64%;
    }

    .teddies p{
        margin-left: 40%;
    }

    /*Pages produits*/

    button a{
        font-size: 16px;
    }

    .bear{
        width:600px;
        margin-top: -3%;
        margin-bottom: 4%;
    
        img{
        height: 260px;
        margin: 5% 20% 3% 22%;
        border-radius: 10px;

    }

    label{
        font-size: 18px;
    }

    input[type="button" i]{
        font-size: 24px;
        margin-top: 8%;
        margin-bottom: 3%;
        padding: 1% 3% 2% 3%;
        
    }
    
    select {
        background-color:$back-1;
        font-size: 17px;
        border-radius: 5px;
    }

    /*footer*/

    }

}
@media screen and (min-width: 1000px){
    /*header*/
    
    .banner img{
        width: 140px;
        height: 140px;
    }

    h1 a{
        font-size: 60px;
    }
    
    .title p{
        font-size: 22px;
    }

    /*section*/

    .teddies{
        width: 750px;
        height: 200px;
    }

    .teddies img{
        margin: 2.5%;
    }

    .teddies h2{
        margin-top: -20%;
        margin-left: 40%;
    }

    /*Pages produits*/

    .bear{
        width:750px;
        margin-top: -3%;
        margin-bottom: 4%;

        img{
            height: 300px;
            margin: 5% 22% 3% 20%;
        }
    }

    footer h2{
        font-size: 20px;
        padding-top: 2%;
    }

    footer ul{
        font-size: 16px;
        padding-left: 10%;
    }

    footer p{
        padding-bottom: 2%;
    }

    .pay{
        padding-top: 1%;
        padding-bottom: 1%;

        img{
            height: 40px;
            width: 60px;
        }
    }

    
}