    @font-face {
        font-family: 'belligerent_madnessregular';
        src: url('fonts/belligerent-webfont.eot');
        src: url('fonts/belligerent-webfont.eot?#iefix') format('embedded-opentype'),
            url('fonts/belligerent-webfont.woff2') format('woff2'),
            url('fonts/belligerent-webfont.woff') format('woff'),
            url('fonts/belligerent-webfont.ttf') format('truetype'),
            url('fonts/belligerent-webfont.svg#belligerent_madnessregular') format('svg');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'Muli';
        src: url('fonts/Muli-Bold.eot');
        src: url('fonts/Muli-Bold.eot?#iefix') format('embedded-opentype'),
            url('fonts/Muli-Bold.woff2') format('woff2'),
            url('fonts/Muli-Bold.woff') format('woff'),
            url('fonts/Muli-Bold.ttf') format('truetype'),
            url('fonts/Muli-Bold.svg#Muli-Bold') format('svg');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Muli';
        src: url('fonts/Muli-Light.eot');
        src: url('fonts/Muli-Light.eot?#iefix') format('embedded-opentype'),
            url('fonts/Muli-Light.woff2') format('woff2'),
            url('fonts/Muli-Light.woff') format('woff'),
            url('fonts/Muli-Light.ttf') format('truetype'),
            url('fonts/Muli-Light.svg#Muli-Light') format('svg');
        font-weight: 300;
        font-style: normal;
        font-display: swap;
    }

    html body{
        margin: 0;
        padding: 0;
    }

    $back:#F3E9F1;
    $font:#290d22;
    $back-1:#CFD8DC;
    $border-button: #757575;
    $back-button:#B36E99;

    /*All page*/
    *{
        font-family: 'Muli';
    }

    .bloc_page{
        width: 100%;
        height: auto;
        overflow: auto;
    }

    a{
        text-decoration: none;
        color: $font;
    }

    /*header*/
    header{
        background-color:$back;
    }

    .banner{
        display: flex;
        height: 110px;
        padding-top: 5%;   
        justify-content: center;
    }

    .banner img{
        width: 90px;
        height: 90px;
        margin-top: 0.5%;
        margin-left: 4%;
        margin-right: 2%;
    }

    .title{
        text-align: center;
        margin-right: 3%;
        margin-top: -2%;
    }

    h1{
        margin-bottom: 0;
    }

    h1 a{
        font-family:'belligerent_madnessregular', sans-serif ;
        font-size: 40px;
        margin: auto;
        color: $back-button;
    }

    .title p{
        font-size: 14px;
        font-family: 'belligerent_madnessregular', sans-serif;
        margin-top: 0;
    }

    header ul{
        list-style: none;
        margin-top: -5%;
        margin-bottom: 0;
        padding-left: 0;
        font-size:16px ;
    }

    ul li{
        padding-bottom: 5%;
    }

    ul a:hover{

        color: $back-button;
        opacity: 0.65;
    }

    nav{
        background: url("images/separateur.png") repeat-x bottom;
        margin-top: 3%;
    }
 
    .icone_cart{
        text-align: right;
    }

    #cart_svg{
        height: 30px;
        width: 30px;
        margin-right: 5%;
        margin-top: 5%;
    }

    #cart_svg:hover{
        opacity: 0.65;
    }

    /*section*/
    .teddies{
        background-color: $back-1;
        width:280px;
        height: 350px;
        margin: auto;
        box-shadow: 1px 1px 10px 1px #BDBDBD;
        margin-top: 5%;
        margin-bottom: 5%;
        border-radius: 10px;
        
        img{
            width: 243px;
            height: 160px;
            margin: 8% 4% 7% 7%;
            border-radius: 10px;
        }
    }

    .teddies h2{
        text-align: center;
        margin-top: 0;
        margin-bottom: 3%;
    }

    .teddies p{
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 0;
        text-align: center;
    }

    .teddies hr{
        width: 80px;
        height: 0.75px;
        background-color: $back-button;
    }

    .see_more{
        margin: auto;
        display: block;
        margin-top: 3%;
        border-radius: 25px;
        color: $back;
        background-color:$back-button;
        font-size: 16px;
        border: 0.5px solid $border-button;
    }

    /*footer*/
    .network{
        text-align: center;
        padding-top: 5%;
    }

    #icone_fb:hover{
            transform: scale(1.20);
            transition-duration: 400ms;
    }

    #icone_insta:hover{
        transform: scale(1.20);
        transition-duration: 400ms;
    }

    #icone_mail:hover{
        transform: scale(1.20);
        transition-duration: 400ms;
    }

    footer{
        background: url("images/separateur.png") repeat-x top;
        background-color:$back;

        h2{
            text-align: center;
            margin-bottom: 0;
            padding-top: 0;
            text-transform: uppercase;
            font-size: 16px;
            margin-top: 1%;
        }
    }

    footer hr{
        width: 80px;
        height: 0.75px;
        background-color: $back-button;
    }

    footer ul{
        list-style-type: none;
        text-transform: uppercase;
        font-size: 14px;
        margin-bottom: 0;
    }

    footer p{
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 5%;
        color: $back-button;
        font-weight: bold;
    }

    .pay{
        text-align: center;
        padding-bottom: 3%;
    }

    /*Pages produits*/

    button{
        margin-left: 6%;
        border-radius: 25px;
        background-color:$back-button;
        font-size: 15px;
        margin-top: 2%;
        margin-bottom: 0;
        padding: 0.25rem 1rem 0.4rem 1rem;
        border: 0.5px solid $border-button;
        color: $back;
        cursor: pointer;

        &:hover{
            transform: scale(1.15);
            transition-duration: 400ms;
        }
    }

    .bear{
        background-color: $back-1;
        width:280px;
        height:auto;
        margin: auto;
        box-shadow: 1px 1px 10px 1px #BDBDBD;
        margin-top: 4%;
        margin-bottom: 4%;
        border-radius: 10px;
        padding-bottom: 5%;
        
        img{
            height: 160px;
            margin: 7% 4% 5% 7%;
            border-radius: 10px;
        }
    }

    .bear h2{
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
    }

    hr{
        width: 120px;
        height: 0.75px;
        background-color: $back-button;
    }

    .bear p{
        text-align: center;
        padding-left: 4%;
        padding-right: 4%;
    }

    #price{
        font-weight: bold;
        font-size: 18px;
    }

    #add_cart{
        margin: auto;
        display: block;
        border-radius: 25px;
        color: $back;
        background-color:$back-button;
        font-size: 20px;
        margin-top: 8%;
        padding: 0.25rem 1rem 0.4rem 1rem;
        border: 0.5px solid $border-button;
    }

    #perso{
        text-align: center;
        margin-bottom: 5%;
    }

    #number{
        text-align: center;
    }

    select {
        background-color:$back-1;
        font-size: 15px;
        border-radius: 5px;
    }

    label{
        font-size: 15px;
        font-weight: bold;
    }
    /*Panier*/
    .recap{
        padding-left: 6%;
        padding-right: 6%;
        width:auto;
        
        h2{
            text-align: center;
            margin-top: 2%;
            text-transform: uppercase;
            font-size: 20px;
            color: $back-button;
            text-decoration: underline;
            margin-bottom: 2%;
        }
    }

    #order{
        display: none;
    }

    #cart{
        margin-bottom: 6%;
    }
    
    #cart_array{
        background-color: $back-1;
        box-shadow: 1px 1px 10px 1px #BDBDBD;
        border-radius: 10px;
    }

    .array{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-bottom: ridge $back;
        border-top: ridge $back;
        width: auto;

        td{
            font-size: 18px;
            font-weight: bold;
            text-align: center;
        }
    }

    .img_array{
        width: 80px;
    }
    .name_array{
        width: 80px;
    }

    .color_array{
        width: 80px;
    }
    .array img{
        width: 100px;
        height: 70px;
        margin: 1% 1% 1% 1%;
        border-radius: 10px;
    }

    #clear_cart{
        margin: auto;
        display: block;
        margin-top: 3%;
        border-radius: 25px;
        color: $back;
        background-color:$back-button;
        font-size: 16px;
        border: 0.5px solid $border-button;
    }

    #cart_empty{
        background-color:$back-1;
        box-shadow: 1px 1px 10px 1px #BDBDBD;
        border-radius: 10px;
        text-align: center;
        font-size: 22px;
        font-weight: bold;
        padding-top: 3%;
        padding-bottom: 3%;
    }

    #price_total{
        display: block;
        text-align: center;
        color: $back-button;
        font-size: 20px;
        padding-right: 4.5%;
        margin-top: 1%;
        font-weight: bold;
    }

    .required{
        color: red;
    }

    .infos{
        margin-bottom: 6%;
        padding-top: 2%;
        padding-bottom: 4%;
        background-color: $back-1;
        box-shadow: 1px 1px 10px 1px #BDBDBD;
        border-radius: 10px;

        p{
        padding-left: 6%;   
        }
    }

    // .adress{
    //     margin-bottom: 3%;
    //     padding-top: 2%;
    //     padding-bottom: 4%;
    //     background-color: $back-1;
    //     box-shadow: 1px 1px 10px 1px #BDBDBD;
    //     border-radius: 10px;

    //     p{
    //     padding-left: 6%;
    //     }
    // }

    #valid_order{
        margin: auto;
        display: block;
        border-radius: 25px;
        color: $back;
        background-color:$back-button;
        border: 0.5px solid $border-button;
        font-size: 20px;
        margin-top: -2%;
        margin-bottom: 3%;
        padding: 0.25rem 1rem 0.4rem 1rem;
        cursor: pointer;

        &:hover{
            transform: scale(1.15);
            transition-duration: 400ms;
        }
    }

    #form{
        padding-left: 6%;
        padding-right: 6%;
        width:auto;
        
        h2{
            text-align: center;
            margin-top: 5%;
            text-transform: uppercase;
            font-size: 20px;
            color: $back-button;
            text-decoration: underline;
            margin-bottom: 2%;
        }
    }

    #form h3{
        text-decoration: underline;
        text-align: center;
        text-transform: uppercase;
        font-size: 18px;
    }

    input{
        border-radius: 10px;
        border: 0.5px solid;
    }

    //Confirmation commande
    #confirm h2{
        text-align: center;
        font-size: 26px;
        margin-top: 15%;
    }

    #confirm p{
        text-align: center;
        font-size: 16px;
        margin-bottom: 4%;
        padding-left: 2%;
        padding-right: 2%;
    }

    #return_order{
        margin: auto;
        display: block;
        border-radius: 25px;
        color: $back;
        font-size: 16px;
        margin-bottom: 2%;
        padding: 0.25rem 1rem 0.4rem 1rem;
        border: 0.5px solid $border-button;
    }

    #icone_bear{
        display: block;
        width: 60px;
        height: 60px;
        margin: auto;
        margin-bottom: 5%;
    }

    @media screen and (min-width: 400px){
        /*header*/
        .title{
            margin-top: 0;
        }
    }
    
    @media screen and (min-width: 460px){
        /*header*/
        .banner{
            padding-top: 3%;   
        }
    
        .banner img{
            width: 110px;
            height: 110px;
        }
    
        h1 a{
            font-size: 45px;
        }
        
        .title p{
            font-size: 16px;
        }
    
        #cart_svg{
            margin-top: 3%;
            height: 40px;
            width: 40px;
        }
    
        .network{
            padding-top: 3%;
        }
    
        footer h2{
            margin-top: 0%;
        }
    }
    
    @media screen and (max-width: 550px){
        /*Menu déroulant burger*/
    .toggle_btn{
        height: 30px;
        width: 30px;
        position: relative;
        float: left;
        margin-left: 20px;
        margin-top: 8px;
        cursor: pointer;    
    }
    
    .toggle_btn span{
        height: 2.5px;
        background-color:$back-button;
        width: 100%;
        position: absolute;
        top: 20px;
        left: 0;
    }
    
    .toggle_btn span:before{
        content: '';
        height: 3px;
        background-color: $back-button;
        width: 100%;
        position: absolute;
        top: -10px;
        left: 0;
    }
    .toggle_btn span:after{
        content: '';
        height: 3px;
        background-color: $back-button;
        width: 100%;
        position: absolute;
        top: 10px;
        left: 0;
    }
    
    .menu{
        height: 30px;
        background-color:$back;
        width: 200px;
        margin-bottom: 2%;
    }
    
    .menu a{
        color: $back-button;
        text-align: center;
        display: block;
        height: auto;  
    }
    
    .firstmenu{
        padding-top: 20%;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 18px;
        text-decoration: underline;
        font-family: 'Muli';
    }
    
    .nav{
        margin-left: -200px;
        transition-duration: 0.2s;
        background: url("images/separateur.png") repeat-x bottom;
    }
    
    .nav_open{
        margin-left: 0;
        transition-duration: 0.2s;
        height: auto;
        width: 100%; 
    }
    
    .nav_cross span{
        background-color: transparent;
    }
    
    .nav_cross span:before{
        transform: translateY(10px) rotateZ(45deg);
    }

    .nav_cross span:after{
        transform: translateY(-9.5px) rotateZ(-45deg);
    }
}

    @media screen and (min-width: 550px){
        /*header*/
        .banner{
            padding-top: 1%;   
        }
    
        .banner img{
            width: 120px;
            height: 120px;
        }
    
        h1 a{
            font-size: 50px;
        }
        
        .title p{
            font-size: 18px;
        }
    
        header ul{
            display: flex;
            justify-content: space-around;
            margin-right: 10%;
        }
    
        ul li{
            padding-bottom: 2%;
        }
    
        header ul a {
            color: $back-button;
            font-size: 18px;
            font-weight: bold;
        }
    
        .firstmenu{
            display: none;
        }
    
        #cart_svg{
            margin-right: 2%;
        }
    
        /*section*/
        .teddies{
            width:500px;
            height: 200px;
        }
    
        .teddies img{
            margin: 4%;
        }
    
        .teddies h2{
            margin-top: -34%;
            margin-left: 55%;
        }
    
        .teddies hr{
            margin-left: 69.5%;
            margin-bottom: 2%;
        }
    
        .teddies p{
            margin-left: 55%;
        }
    
        .see_more{
            margin-right: 12%;
            margin-top: 2%;
            margin-bottom: 4%;
        }
        /*Pages produits*/
        button{
            margin-top: 2%;
        }
    
        .bear{
            width: 500px;
    
            img{
                height: 200px;
                margin: 5% 20% 3% 20%;
            }
        }
    
        #add_cart{
            margin-top: 5.5%;
        }
    
        // Panier
        .array{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            vertical-align: middle;
            margin-left: 1%;
            margin-right: 2%;
        }
    
        .array td{
            font-size: 16px;
        }
    
        .array img{
            width: 160px;
            height: 110px;
            margin: 1% 1% 1% 1%;
            border-radius: 10px;
        }
    
        #price_total{
            display: block;
            text-align: right;
        }
      
        #order{
            display: flex;
            justify-content: space-around;
            background-color: $back;
            box-shadow: 1px 1px 10px 1px #BDBDBD;
            border-radius: 10px;
            color: $back-button;
            font-size: 16px;
            font-weight: bold;
            padding-top: 1%;
            padding-bottom: 1%;
            border-bottom: ridge $back;
            width: auto;
        }
    
        #article_cart{
            width: 200px;
            text-align: right;
        }
    
        #color_cart{
            width: 170px;
            text-align: right;
        }
    
        #quantity_cart{
            width: 50px;
            text-align: right;
        }
        
        #price_cart{
            width: 50px;
            text-align: right;
            margin-right: 1%;
        }

        //Confirmation
        #icone_bear{
            width: 80px;
            height: 80px;
        }
    }

    @media screen and (min-width: 850px){
        /*header*/
        .banner{
            padding-top: 0;
        }
        
        .banner img{
            width: 130px;
            height: 130px;
        }
    
        h1 a{
            font-size: 55px;
        }
        
        .title p{
            font-size: 20px;
        }
    
        ul{
            margin-right: 12%;
        }
    
        #cart_svg{
            margin-top: 2%;
            margin-bottom: 2%;
        }
    
        /*section*/ 
        .teddies{
            width:600px;
            height: 200px;
        }
    
        .teddies img{
            margin: 3.5%;
        }
    
        .teddies h2{
            margin-top: -28%;
            margin-left: 40%;
        }
    
        .teddies hr{
            margin-top: -1%;
            margin-bottom: 2%;
            margin-left: 64%;
        }
    
        .teddies p{
            margin-left: 40%;
        }
    
        .see_more{
            margin-right: 21%;
            margin-top: 1%;
        }
    
        .network{
            padding-top: 2%;
        }

        footer h2{
            margin-top: 0;
        }
    
        /*Pages produits*/
        button a{
            font-size: 16px;
        }
    
        .bear{
            width:600px;
            margin-top: 2.5%;
            margin-bottom: 3%;
        
            img{
            height: 300px;
            margin: 5% 10% 3% 12.5%;
            border-radius: 10px;
            }
        }
    
        label{
            font-size: 18px;
        }
    
        input[type="button"]{
            font-size: 24px;
            margin-top: 8%;
            margin-bottom: 3%;
            padding: 1% 3% 2% 3%;
        }
        
        select {
            background-color:$back-1;
            font-size: 17px;
            border-radius: 5px;
        }
        
        // Panier
        .array td{
            font-size: 18px;
        }
    
        #order{
            font-size: 18px;
        }
    
        .array img{
            width: 230px;
            height: 160px;
            margin: 1% 1% 1% 1%;
            border-radius: 10px;
        }
        
        #article_cart{
            width: 280px;
            text-align: right;
        }
    
        #color_cart{
            width: 200px;
            text-align: right;
        }
    
        #quantity_cart{
            width: 50px;
            text-align: right;
        }
        
        #price_cart{
            width: 50px;
            text-align: right;
            margin-right: 1%;
        }
    
        //Confirmation commande
        #confirm h2{
            text-align: center;
            font-size: 30px;
            margin-top: 10%;
        }
    
        #confirm p{
            text-align: center;
            font-size: 20px;
            padding-left: 3%;
            padding-right: 3%;
        }

        #icone_bear{
            width: 100px;
            height: 100px;
        }
    }
    
    @media screen and (min-width: 1000px){
        /*header*/
        
        .banner img{
            width: 140px;
            height: 140px;
        }
    
        h1 a{
            font-size: 60px;
        }
        
        .title p{
            font-size: 22px;
        }
    
        ul li{
            margin-right: 2.5%;
        }
    
        #cart_svg{
            margin-top: 1%;
        }
    
        /*section*/
    
        .teddies{
            width: 750px;
            height: 200px;
        }
    
        .teddies img{
            margin: 2.5%;
        }
    
        .teddies h2{
            margin-top: -22.5%;
            margin-left: 38.5%;
        }
    
        .see_more{
            margin-right: 23.5%;
        }
    
        /*Pages produits*/
    
        button{
            margin-top: 1%;
        }
    
        .bear{
            width:750px;
            margin-top: 1%;
            margin-bottom: 3%;
    
            img{
                height: 300px;
                margin: 5% 22% 3% 20%;
            }
        }
    
        .network{
            padding-top: 1.5%;
        }
    
        footer h2{
            font-size: 20px;
            padding-top: 0;
        }
    
        footer ul{
            font-size: 16px;
            padding-left: 10%;
        }
    
        footer p{
            padding-bottom: 2%;
        }
    
        .pay{
            padding-top: 1%;
            padding-bottom: 1%;
    
            img{
                height: 40px;
                width: 60px;
            }
        }
    
        input[type="submit"]{
            padding-bottom: 1%;
        }
    
        //Panier
        #article_cart{
            width: 280px;
            text-align: right;
        }
    
        #color_cart{
            width: 240px;
            text-align: right;
        }
    
        #quantity_cart{
            width: 70px;
            text-align: right;
        }
        
        #price_cart{
            width: 70px;
            text-align: right;
            margin-right: 1%;
        }
    
        //Confirmation commande
    
        #confirm h2{
            text-align: center;
            font-size: 35px;
            margin-top: 5%;
        }
    
        #confirm p{
            text-align: center;
            font-size: 20px;
            padding-left: 3.5%;
            padding-right: 3.5%;
            margin-bottom: 2%;
        }

        #icone_bear{
            width: 120px;
            height: 120px;
            margin-bottom: 2%;
        }
    }

    @media screen and (min-width: 1100px){

        //Panier
        #article_cart{
            width: 280px;
            text-align: right;
        }
    
        #color_cart{
            width: 360px;
            text-align: right;
        }
    
        #quantity_cart{
            width: 130px;
            text-align: right;
        }
        
        #price_cart{
            width: 120px;
            text-align: right;
            margin-right: 1%;
        }
    }